---
import { Image } from "astro:assets";
import { getEntry } from "astro:content";
import SocialLink from "~/components/SocialLink.astro";
import portrait from "~/images/portrait.jpg";
import ApplicationLayout from "~/layouts/ApplicationLayout.astro";

const about = await getEntry("authors", "mathias");
const { Content } = await about.render();
---

<ApplicationLayout title="Home">
    <div class="grid grid-cols-1 gap-12 md:grid-cols-2">
        <section class="text-balance">
            <header class="mb-8">
                <h1 class="text-3xl font-semibold tracking-tight">
                    {about.data.headline}
                </h1>
            </header>
            <article
                class="space-y-4e prose prose-app flex-col text-sm leading-loose"
            >
                <Content />
            </article>
        </section>
        <aside
            class="order-first mx-auto flex-col place-items-center md:order-last md:place-items-start md:space-x-0"
        >
            <Image
                src={portrait}
                alt="portrait of mathias"
                loading="eager"
                width={600}
                height={600}
                class="mb-8 aspect-square w-60 rotate-2 rounded-2xl object-cover object-[center_20%] md:w-full"
            />
            <ul
                role="list"
                class="flex justify-center space-x-3"
            >
                <li>
                    <SocialLink
                        icon="mdi:twitter"
                        aria={about.data.twitter}
                        url={`https://twitter.com/${about.data.twitter}`}
                    />
                </li>
                <li>
                    <SocialLink
                        icon="mdi:github"
                        aria={about.data.github}
                        url={`https://github.com/${about.data.github}`}
                    />
                </li>
                <li>
                    <SocialLink
                        icon="mdi:linkedin"
                        aria={about.data.linkedin}
                        url={`https://linkedin.com/in/${about.data.linkedin}`}
                    />
                </li>
                <li>
                    <SocialLink
                        icon="mdi:at"
                        aria={about.data.email}
                        url={`mailto:${about.data.email}`}
                    />
                </li>
            </ul>
        </aside>
    </div>
</ApplicationLayout>
